/* basic styles (initial) */
@import './basic/reset.css';
@import './basic/variables.css';

/* styles for components */
@import './components/button.css';
@import './components/clock.css';
@import './components/form.css';
@import './components/mouse.css';
@import './components/progress-bar.css';

/* styles for page 'home' */
.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondaryy);
}
