/* basic styles (initial) */
@import './basic/reset.css';
@import './basic/variables.css';
@import './basic/layout.css';

/* styles for components */
@import './components/button.css';
@import './components/clock.css';
@import './components/form.css';
@import './components/mouse.css';
@import './components/progress-bar.css';

/* styles for page 'home' */
.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondaryy);
}

/* HERO */
.hero {
  min-height: 100vh;
  padding-bottom: 20px;
  background-image: url('../img/hero-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.hero .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.hero .logo {
  height: 30px;
}

.hero h1 {
  font-size: 70px;
  text-transform: uppercase;
}

.hero p {
  font-size: 18px;
  color: var(--color-grey);
}

/* MAIN */

/* FOOTER */
footer.container {
  padding-top: 0;
}
