/* basic styles (initial) */
@import './basic/reset.css';
@import './basic/variables.css';
@import './basic/layout.css';

/* styles for components */
@import './components/button.css';
@import './components/clock.css';
@import './components/form.css';
@import './components/mouse.css';
@import './components/progress-bar.css';

/* styles for page 'home' */
.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondaryy);
}

/* HERO */
.hero {
  min-height: 100vh;
  padding-bottom: 20px;
  background-image: url('../img/hero-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* display: none; */
}

.hero .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.hero .logo {
  height: 30px;
}

.hero h1 {
  font-size: 70px;
  text-transform: uppercase;
}

.hero p {
  font-size: 18px;
  color: var(--color-grey);
}

/* MAIN */
.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main h2 {
  font-size: 24px;
  text-transform: uppercase;
}

main p {
  font-size: 17px;
  color: var(--color-grey);
  line-height: 1.7em;
}

main p a {
  color: var(--color-secondary);
  text-decoration: none;
}

/*  ---------------    FOOTER     --------------*/
footer.container {
  color: var(--color-light);
  padding-top: 0;
}

.back-to-top {
  position: absolute;
  top: -24px;
  right: 0;
}

.social-link {
  width: 24px;
  height: 24px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  text-decoration: none;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
  i {
    color: var(--color-light);
    transition: color 0.3s ease-in-out;
  }
}

.social-link:hover {
  background-color: var(--color-light);
  i {
    color: var(--color-primary);
  }
}

footer {
  p {
    font-size: 14px;
    line-height: 1.6;
    color: #fff8;

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  .row-big {
    position: relative;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    border-bottom: 2px solid #fff2;
  }

  .logo {
    margin-bottom: 20px;
  }

  .row {
    padding-top: 20px;
    text-align: center;
  }

  .copyrights {
    display: flex;
    justify-content: center;
    column-gap: 20px;

    p {
      position: relative;
    }
    p + p::before {
      position: absolute;
      content: '';
      height: 100%;
      width: 1px;
      left: -11px;
      border-right: 2px solid #fff7;
    }
  }

  @media (max-width: 600px) {
    .copyrights {
      margin-bottom: 8px;
      flex-direction: column;

      p::before {
        display: none;
      }
    }
  }
}
