.btn {
  display: inline-block;
  width: fit-content;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  color: var(--color-light);
  line-height: 1;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 2px;
  box-shadow: -2px 2px 3px 1px #0002;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.btn.btn-round {
  padding: 0;
  width: 44px;
  height: 44px;
  font-size: 22px;
  line-height: 44px;
  text-decoration: none;
  border-radius: 50%;
}

.btn:hover {
  box-shadow: -3px 3px 4px 1px #0004;
}
