.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;

  input,
  textarea {
    width: 100%;
    padding: 4px 6px;

    font-size: 18px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--color-grey);

    ::placeholder {
      color: #fff6;
    }

    &:focus-visible {
      outline: none;
    }
  }

  .inputs-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  textarea {
    height: 80px;
  }

  button {
    margin-top: 20px;
    align-self: end;
  }
}

.hero .form {
  input {
    color: #fff;
  }
  button {
    align-self: center;
  }
}
