.mouse {
  width: 28px;
  height: 42px;
  border: 4px solid white;
  border-radius: 12px;
}

.mouse > .wheel {
  margin: 5px auto;
  width: 4px;
  height: 7px;
  background-color: white;
  border-radius: 1px;
  animation: scrolling 1.3s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(14px);
  }
}
