.progress-bar {
  /* width: 100%; */
  /* align-items: stretch; */
}

.progress-bar {
  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    color: var(--color-grey);
    font-size: 18px;
  }
}

.progress-bar {
  .bottom {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: #ddd;
  }

  .progress {
    position: absolute;
    content: '';
    width: 90%;
    height: 4px;
    background-color: var(--color-primary);
  }
}
