.progress-bar {
  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    color: var(--color-grey);
    font-size: 18px;
  }
}

.progress-bar {
  .bottom {
    width: 100%;
    height: 6px;
    background-color: #ddd;
  }

  .progress {
    width: 90%;
    height: 100%;
  }

  .bar {
    height: 100%;
    width: 100%;
    background-color: var(--color-primary);
    animation: progress 2s forwards;
    transform-origin: left;
    transform: scaleX(0);
  }
}

@keyframes progress {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(100%);
  }
}
